# Implementing a Cloud DWH in AWS
**NOTE:** This requires the creation of a redshift cluster and the creation of an IAM role to call AWS services for the cluster. Please refer to [Cluster Setup](Cluster&#32;Setup.ipynb) for details

## Step 1. Table Creation

In [1]:
%run -i 'create_tables.py'

## Step 2. ETL

In [2]:
%run -i 'etl.py'

## Step 3. Test Tables

### Import Required Libraries

In [3]:
import pandas as pd
import configparser
import os 
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

### Create Config, Read in dwh.cfg, & Connect to DB

In [4]:
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

In [5]:
DWH_ENDPOINT = config.get('CLUSTER','HOST')
DWH_DB_USER = config.get('DWH','DWH_DB_USER')
DWH_DB_PASSWORD = config.get('DWH','DWH_DB_PASSWORD')
DWH_PORT = config.get('DWH','DWH_PORT')
DWH_DB = config.get('DWH','DWH_DB')

In [6]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.crhbasytr3e5.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

### Basic Queries

In [7]:
%%sql
select 'users' as category, count(*) as record_count from dim_user
union
select 'song' as category, count(*) as record_count from dim_song
union
select 'artist' as category, count(*) as record_count from dim_artist
union
select 'time' as category, count(*) as record_count from dim_time
union
select 'song_play' as category, count(*) as record_count from fact_songplay

 * postgresql://dwhuser:***@dwhcluster.crhbasytr3e5.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('time', 8023),
 ('users', 105),
 ('song_play', 326),
 ('song', 14896),
 ('artist', 10025)]